<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departmental Library Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <script type = "text/javascript" >
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
    </script>
</head>

<body>

  <div class="businessup-nav-widget-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 text-center-xs">
                <div class="navbar-header">
                    <!-- Logo -->
                    <a href="https://vnit.ac.in/cse/" class="navbar-brand" rel="home" aria-current="page">
                        <img src="cse_vnit_pic.jpg" />
                        <!-- <img width="600" height="105" src="https://vnit.ac.in/cse/wp-content/uploads/2018/10/vnitnew-logo-sample-img.jpg" class="custom-logo" alt="Department of Computer Science &amp; Engineering" decoding="async" srcset="https://vnit.ac.in/cse/wp-content/uploads/2018/10/vnitnew-logo-sample-img.jpg 600w, https://vnit.ac.in/cse/wp-content/uploads/2018/10/vnitnew-logo-sample-img-300x53.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"> -->
                    </a>
                    <!-- Logo -->
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="header-widget" style="padding-left: 50px;padding-top:10px;">
                  <form action="/" method="post" class="action-form">
                      <button style="float:right;" type="submit" class="btn btn-primary">DLMS</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showItemDetails(element, item) {
        var sn = item.serial_number;
        var title = item.title;
        var authors = item.author;
        var subject = item.subject;
        var id = item._id;
        var publication = item.publication;
        var isbn = item.isbn;
        var status = item.status;
        var studentId = '<%= student._id %>';
        // document.getElementById("selected_item").innerHTML = fruitname + price + comment;
        // Construct the HTML content with item details
        // var parsedItem = JSON.parse(item);

     // Construct the HTML content with item details
var htmlContent = '<h3>' + title + '</h3>' +
                  '<p>Book Number: ' + sn + '</p>' +
                  '<p>Authors:</p><ul>';

// Iterate through each author and add to the HTML content
for (var i = 0; i < authors.length; i++) {
    htmlContent += '<li>' + authors[i] + '</li>';
}
var book_status;

if (status === '0') {
    book_status = 'available';
} else if (status === '1') {
    book_status = 'issued';
} else if (status === '2') {
    book_status = 'lost';
} else {
    book_status = 'unknown';
}
htmlContent += '</ul>' +
               '<p>Subject: ' + subject + '</p>' +
               '<p>Publication: ' + publication + '</p>' +
               '<p>ISBN: ' + isbn + '</p>'
               // '<p>Status: ' + book_status + '</p>'
               // + '<p>sid:' + studentId + ' bid ' + id + '</p>'
               //
               ;
               var issueButtonHtml;

                if (parseInt(status) == 0) {
                    issueButtonHtml = '<form action="/issue" method="post" class="action-form" onsubmit="return confirm(\'Are you sure you want to issue this item?\');">' +
                        '<input type="hidden" name="itemId" value="' + id + '">' +
                        '<input type="hidden" name="parentHref" value="/records">' +
                        '<button type="submit" class="btn btn-success">Issue</button>' +
                        '</form>';
                } else {
                    issueButtonHtml = '<button type="button" class="btn btn-success" disabled>Issue</button>';
                }
            var updateButtonHtml = '<form action="/update" method="get" class="action-form">' +
              '<input type="hidden" name="itemId" value="' + id + '">' +
              '<input type="hidden" name="parentHref" value="/records">' +
              '<button type="submit" class="btn btn-secondary">Update</button>' +
            '</form>';

            var returnButtonHtml = '<form action="/return_book" method="post" class="action-form" onsubmit="return confirm(\'Are you sure you want to return this item?\');">' +
              '<input type="hidden" name="bid" value="' + id + '">' +
              '<input type="hidden" name="sid" value="' + studentId + '">' +
              '<input type="hidden" name="parentHref" value="/records">' +
              '<button type="submit" class="btn btn-secondary">Return Book</button>' +
            '</form>';
            var viewButtonHtml = '<form action="/viewdetails" method="post" class="action-form">' +
                       '<input type="hidden" name="itemId" value="' + id + '">' +
                       '<input type="hidden" name="parentHref" value="/records">' +
                       '<button type="submit" class="btn btn-primary">Details</button>' +
                     '</form>';



   // Set the innerHTML of the selected item div
   document.getElementById('selected_item_information').innerHTML = htmlContent

    //document.getElementById('update_button1').innerHTML = updateButtonHtml;
    document.getElementById('return_button1').innerHTML =returnButtonHtml;
    document.getElementById('view_button1').innerHTML = viewButtonHtml;
    document.getElementById('issue_button1').innerHTML = issueButtonHtml;

    }
</script>

<p id="demo"></p>
<div class="container2">
<div id="items-grid">
    <% newListItems.forEach(function(item) { %>
    <div class="item" onclick="showItemDetails(this, <%= JSON.stringify(item) %>)">

        <h3><%= item.serial_number %> : <%= item.title %></h3>
        <p>Authors: <%= item.author.join(', ') %></p>
        <p>Serial: <%= item.serial_number %></p>
        <!-- <div class="actions" style="display:none">
            <form action="/update" method="post" class="action-form">
                <input type="hidden" name="itemId" value="<%= item._id %>">
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
            <form action="/return_book" method="post" class="action-form" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="itemId" value="<%= item._id %>">
                <button type="submit" class="btn btn-danger">Return</button>
            </form>
            <form action="/viewdetails" method="post" class="action-form">
                <input type="hidden" name="itemId" value="<%= item._id %>">
                <button type="submit" class="btn btn-primary">View Details</button>
            </form>
        </div> -->
    </div>
    <% }) %>
</div>
<div id="selected_item">
  <div id="selected_item_information">

  </div>
  <div id="button_container">
    <div id="issue_button1">

    </div>
    <!-- <div id="update_button1">

    </div> -->
    <div id="return_button1">

    </div>
    <div id="view_button1">

    </div>
  </div>
        <!-- Content of the selected item -->
</div>
</div>

<!--
<table class="table table-bordered table-hover">
<thead>
<tr>
    <th scope="col">Serial Number</th>
    <th scope="col">Fruit Name</th>
    <th scope="col">Price</th>
    <th scope="col">Comment</th>
    <th scope="col">Actions</th>
</tr>
</thead>
<tbody>
<% var count = 1 %>
<% newListItems.forEach(function(item) { %>
<tr class="<%= count % 2 === 0 ? 'even' : 'odd' %>">
    <td><%= count++ %></td>
    <td><%= item.fruitname %></td>
    <td><%= item.price %></td>
    <td><%= item.comment %></td>
    <td>
        <form action="/delete" method="post" class="action-form" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="itemId" value="<%= item._id %>">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form action="/viewdetails" method="post" class="action-form">
            <input type="hidden" name="itemId" value="<%= item._id %>">
            <button type="submit" class="btn btn-primary">View Details</button>
        </form>
        <form action="/update" method="post" class="action-form">
            <input type="hidden" name="itemId" value="<%= item._id %>">
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </td>
</tr>
<% }) %>
</tbody>
</table>
 -->

<script>
    const items = document.querySelectorAll('.item');
    const detailsTable = document.getElementById('details-table');

    items.forEach(item => {
        item.addEventListener('click', () => {
            // Hide all detail tables
            document.querySelectorAll('.item-details').forEach(detail => {
                detail.style.display = 'none';
            });

            // Show details table for the clicked item
            const itemId = item.getAttribute('data-item-id');
            const details = document.getElementById(`details-${itemId}`);
            details.style.display = 'table-row';
        });
    });
</script>

</body>
</html>
